<a href="https://colab.research.google.com/github/rajasreekalli/sales_predicions/blob/main/L_R_part_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [369]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [370]:
data = load_iris()
df = pd.read_csv('/content/drive/MyDrive/sales_predictions.csv')
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [371]:
types = df.dtypes
print(types)

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [372]:
print(df.drop_duplicates())

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [374]:
item_missing = df.isna()
print(item_missing.sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [383]:
address_missing=df.loc[0:8522,:].fillna(method='ffill')
print(address_missing)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [384]:
final_missing = address_missing.isna()
print(final_missing.sum())
print(address_missing)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [377]:
df['Item_Fat_Content'] = (df['Item_Fat_Content'].replace(['LF','low fat'],'Low Fat'))
df['Item_Fat_Content'] = (df['Item_Fat_Content'].replace(['reg'],'Regular'))
print(df['Item_Fat_Content'].value_counts())
print(df['Item_Type'].value_counts())

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [385]:
# Spend time transforming your categorical variables into numbers and use dummy encoding where appropriate.
# Pandas get_dummies
ohe_df = pd.get_dummies(address_missing, columns = ['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'], drop_first = True)
ohe_df

     Item_Identifier  ...  Outlet_Type_Supermarket Type3
0              FDA15  ...                              0
1              DRC01  ...                              0
2              FDN15  ...                              0
3              FDX07  ...                              0
4              NCD19  ...                              0
...              ...  ...                            ...
8518           FDF22  ...                              0
8519           FDS36  ...                              0
8520           NCJ29  ...                              0
8521           FDN46  ...                              0
8522           DRG01  ...                              0

[8523 rows x 30 columns]

In [386]:
feature_names = {'Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'}
df.loc[:, feature_names]

     Item_Identifier  Outlet_Establishment_Year  ... Item_Weight Outlet_Identifier
0              FDA15                       1999  ...       9.300            OUT049
1              DRC01                       2009  ...       5.920            OUT018
2              FDN15                       1999  ...      17.500            OUT049
3              FDX07                       1998  ...      19.200            OUT010
4              NCD19                       1987  ...       8.930            OUT013
...              ...                        ...  ...         ...               ...
8518           FDF22                       1987  ...       6.865            OUT013
8519           FDS36                       2002  ...       8.380            OUT045
8520           NCJ29                       2004  ...      10.600            OUT035
8521           FDN46                       2009  ...       7.210            OUT018
8522           DRG01                       1997  ...      14.800            OUT046

[8523 rows x 11 columns]

In [321]:
X = df.loc[:, feature_names].values
X.shape

(8523, 11)

In [322]:
y = df.loc[:, 'Item_Outlet_Sales'].values
y.shape

(8523,)

In [388]:
# Assign the "Item_Outlet_Sales" column as your target and the rest of the variables as your features matrix.  
y = ohe_df['Item_Outlet_Sales']
X = ohe_df.drop(columns=['Item_Outlet_Sales','Item_Identifier','Outlet_Identifier'])

In [389]:
print(X.shape)
print(y.shape)

(8523, 27)
(8523,)

In [390]:
# Be sure to train test split your data set!
from sklearn.model_selection import train_test_split

In [391]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [392]:
# Build a linear regression model.
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [393]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [394]:
train_preds = reg.predict(X_train)

In [395]:
test_preds = reg.predict(X_test)

In [396]:
# Evaluate your test set results using r2.
train_score = reg.score(X_train, y_train)
print(train_score)

0.5606459304170348

In [397]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.5654760804589334

In [398]:
# Evaluate your test set results using RMSE
from sklearn.metrics import mean_squared_error
reg_model = LinearRegression()
reg_model.fit(X_train, y_train)
print('Training RMSE:', np.sqrt(mean_squared_error(y_train, reg_model.predict(X_train))))
print('Testing RMSE:', np.sqrt(mean_squared_error(y_test, reg_model.predict(X_test))))

Training RMSE: 1140.2845730493177
Testing RMSE: 1094.916263931872