<a href="https://colab.research.google.com/github/rajasreekalli/sales_predicions/blob/main/Sales_production_part_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
import pandas as pd
import numpy as np

In [142]:
df = pd.read_csv('/content/drive/MyDrive/sales_predictions.csv')
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [143]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [144]:
item_missing = df.isna()
print(item_missing.sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Checking for inconsistancy.

In [145]:
print(df['Item_Fat_Content'].value_counts())
print(df['Item_Type'].value_counts())

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [146]:
df['Item_Fat_Content'] = (df['Item_Fat_Content'].replace(['LF','low fat'],'Low Fat'))
df['Item_Fat_Content'] = (df['Item_Fat_Content'].replace(['reg'],'Regular'))
print(df['Item_Fat_Content'].value_counts())
print(df['Item_Type'].value_counts())

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [147]:
# 1) Identify the target (X) and features (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.  
y = df['Item_Outlet_Sales']
X = df.drop(columns=['Item_Outlet_Sales','Item_Identifier','Outlet_Identifier'])

In [148]:
print(X.shape)
print(y.shape)

(8523, 9)
(8523,)

In [149]:
# 2) Perform a train test split
from sklearn.model_selection import train_test_split

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [151]:
# 3. Create a pre processing pipeline to prepare the dataset for Machine Learning
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

In [152]:
# using simple imputer to remove missing values.
imputer = SimpleImputer(strategy='mean')
lin_reg = LinearRegression()
# combine into a pipeline
pipe = make_pipeline(imputer, lin_reg)

In [153]:
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [154]:
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)
#check our lists
print('numeric columns are', num_columns)
print('categorical columns are', cat_columns)

numeric columns are ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']
categorical columns are ['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [155]:
df_num = df[num_columns]
df_num.loc[:, df_num.isna().any()]

      Item_Weight
0           9.300
1           5.920
2          17.500
3          19.200
4           8.930
...           ...
8518        6.865
8519        8.380
8520       10.600
8521        7.210
8522       14.800

[8523 rows x 1 columns]

In [156]:
mean_imputer = SimpleImputer(strategy='mean')
#Fit the imputer object on the numeric training data with .fit() 
#calculates the medians of the columns in the training set
mean_imputer.fit(X_train[num_columns])
#Use the mean from the training data to fill the missing values in 
#the numeric columns of both the training and testing sets with .transform()
X_train.loc[:, num_columns] = mean_imputer.transform(X_train[num_columns])
X_test.loc[:, num_columns] = mean_imputer.transform(X_test[num_columns])

In [157]:
freq_imputer = SimpleImputer(strategy='most_frequent')
#fit on the categorical columns of the training data
freq_imputer.fit(X_train[cat_columns])
#transform the categorical columns of both the training and testing data
X_train.loc[:, cat_columns] = freq_imputer.transform(X_train[cat_columns])
X_test.loc[:, cat_columns] = freq_imputer.transform(X_test[cat_columns])

In [158]:
print(X_train.isna().sum().sum(), 'missing values')
X_train.info()

0 missing values
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6392 entries, 4776 to 7270
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                6392 non-null   float64
 1   Item_Fat_Content           6392 non-null   object
 2   Item_Visibility            6392 non-null   float64
 3   Item_Type                  6392 non-null   object
 4   Item_MRP                   6392 non-null   float64
 5   Outlet_Establishment_Year  6392 non-null   float64
 6   Outlet_Size                6392 non-null   object
 7   Outlet_Location_Type       6392 non-null   object
 8   Outlet_Type                6392 non-null   object
dtypes: float64(4), object(5)
memory usage: 499.4+ KB

In [159]:
X_train['Item_Fat_Content'].value_counts()

Low Fat    4129
Regular    2263
Name: Item_Fat_Content, dtype: int64

In [160]:
X_train['Outlet_Type'].value_counts()

Supermarket Type1    4166
Grocery Store         799
Supermarket Type3     723
Supermarket Type2     704
Name: Outlet_Type, dtype: int64

In [161]:
X_train['Item_Type'].value_counts()

Fruits and Vegetables    948
Snack Foods              906
Household                695
Frozen Foods             632
Dairy                    507
Canned                   481
Baking Goods             478
Health and Hygiene       390
Soft Drinks              331
Meat                     302
Breads                   175
Hard Drinks              169
Others                   130
Starchy Foods            122
Breakfast                 84
Seafood                   42
Name: Item_Type, dtype: int64

In [162]:
X_train['Outlet_Location_Type'].value_counts()

Tier 3    2531
Tier 2    2106
Tier 1    1755
Name: Outlet_Location_Type, dtype: int64

In [163]:
cat_data = X_train[cat_selector(X_train)]
cat_data

     Item_Fat_Content  ...        Outlet_Type
4776          Low Fat  ...  Supermarket Type2
7510          Regular  ...  Supermarket Type2
5828          Regular  ...  Supermarket Type1
5327          Low Fat  ...  Supermarket Type1
4810          Low Fat  ...  Supermarket Type1
...               ...  ...                ...
5734          Regular  ...      Grocery Store
5191          Low Fat  ...  Supermarket Type1
5390          Low Fat  ...  Supermarket Type1
860           Low Fat  ...  Supermarket Type1
7270          Low Fat  ...  Supermarket Type1

[6392 rows x 5 columns]

In [164]:
from sklearn.preprocessing import OneHotEncoder
#instantiate one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe_encoder.fit(cat_data)
cat_ohe = ohe_encoder.transform(cat_data)
cat_ohe

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.]])

In [165]:
pd.DataFrame(cat_ohe, columns=ohe_encoder.get_feature_names(cat_data.columns))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      Item_Fat_Content_Low Fat  ...  Outlet_Type_Supermarket Type3
0                          1.0  ...                            0.0
1                          0.0  ...                            0.0
2                          0.0  ...                            0.0
3                          1.0  ...                            0.0
4                          1.0  ...                            0.0
...                        ...  ...                            ...
6387                       0.0  ...                            0.0
6388                       1.0  ...                            0.0
6389                       1.0  ...                            0.0
6390                       1.0  ...                            0.0
6391                       1.0  ...                            0.0

[6392 rows x 28 columns]

In [166]:
mean_tuple = (mean_imputer, num_selector)
#impute most frequent of categorical columns
freq_tuple = (freq_imputer, cat_selector)

In [167]:
from sklearn.compose import make_column_transformer
#instantiate column transformer
#give it the steps in the order to apply them.
column_transformer = make_column_transformer(mean_tuple, freq_tuple)

In [168]:
column_transformer.fit(X_train)

ColumnTransformer(transformers=[('simpleimputer-1', SimpleImputer(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f54a55557d0>),
                                ('simpleimputer-2',
                                 SimpleImputer(strategy='most_frequent'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f548c50dc50>)])

In [169]:
X_train_processed = column_transformer.transform(X_train)
X_test_processed = column_transformer.transform(X_test)

In [170]:
X_train_processed

array([[16.35, 0.029565308999999998, 256.4646, ..., 'Medium', 'Tier 3',
        'Supermarket Type2'],
       [15.25, 0.0, 179.766, ..., 'Medium', 'Tier 3',
        'Supermarket Type2'],
       [12.35, 0.158715731, 157.2946, ..., 'Medium', 'Tier 1',
        'Supermarket Type1'],
       ...,
       [17.6, 0.018943666, 237.359, ..., 'Medium', 'Tier 2',
        'Supermarket Type1'],
       [20.35, 0.054362695, 117.9466, ..., 'Medium', 'Tier 2',
        'Supermarket Type1'],
       [16.35, 0.016993203999999998, 95.741, ..., 'Small', 'Tier 1',
        'Supermarket Type1']], dtype=object)

In [171]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [172]:
scaler_tuple = (scaler, num_selector)

In [173]:
from sklearn.compose import make_column_transformer
#instantiate column transformer with the scaler_tuple
column_transformer = make_column_transformer(scaler_tuple)

In [174]:
from sklearn.pipeline import make_pipeline

In [175]:
num_pipe = make_pipeline(mean_imputer, scaler)

In [176]:
cat_pipe = make_pipeline(freq_imputer, ohe_encoder)

In [177]:
num_tuple = (num_pipe, num_selector)
cat_tuple = (cat_pipe, cat_selector)

In [178]:
column_transformer = make_column_transformer(num_tuple, cat_tuple)

In [179]:
# instantiate imputer and regression estimator
imputer = SimpleImputer(strategy='mean')
lin_reg = LinearRegression()
# combine into a pipeline
pipe = make_pipeline(imputer, lin_reg)

In [180]:
#instantiate the encoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
scaler = StandardScaler()

In [181]:
#combine the selector and the encoder in a ColumnTransformer
#we want unselected columns to pass through unchanged
#create the tuple of encoder and selector
ohe_tuple = (encoder, cat_selector)
scaler_tuple = (scaler, num_selector)
#instantiate the column transformer
col_transformer = make_column_transformer(ohe_tuple, scaler_tuple, remainder='passthrough')

In [182]:
#instantiate the model
lin_reg = LinearRegression()
pipe = make_pipeline(col_transformer, lin_reg)
#fit the model on both the training features and the training target
pipe.fit(X_train, y_train)

#A .fit() method both fits a model in place AND returns the model.
#The below output shows us all the steps in the pipeline, including the steps
#in the ColumnTransformer.

#Notice that each step is also named with a string.  This lets us access individual
#steps in the pipeline later if we want to change parameters directly
#without creating a new pipeline

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f548c50dc50>),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f54a55557d0>)])),
                ('linearregression', LinearRegression())])

In [189]:
from sklearn.metrics import r2_score
print(f'Train R2: {r2_score(y_train, pipe.predict(X_train))}')
print(f'Test R2: {r2_score(y_test, pipe.predict(X_test))}')

Train R2: 0.5602420592824764
Test R2: 0.5668699792553005

In [190]:
from sklearn.metrics import mean_absolute_error

#create predictions from the model on the training data
training_preds = pipe.predict(X_train)

#evaluate the model's predictions on the training set
#using the mean absolute error metric
training_mae = mean_absolute_error(y_train, training_preds)
print(f'MAE of the training set is {training_mae:.2f} MPG')

MAE of the training set is 847.62 MPG

In [191]:
#create predictions on the test set
test_preds = pipe.predict(X_test)

#evaluate the model's predictions on the testing set
# using the mean absolute error metric
testing_mae = mean_absolute_error(y_test, test_preds)
print(f'MAE of the testing set is {testing_mae:.2f} MPG')

MAE of the testing set is 804.48 MPG